
.list {
    list-style: none;
}

.cardDate {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 24px;
}
