.container {
    background-color: transparent;
    outline: none;
    border: 1px solid transparent;
    position: relative;
}

.inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kit {
    width: 53px;
    height: 53px;
    img {
        width: 100%;
        height: 100%;
    }
}

.name {
    line-height: 180%;
    padding: 0 6px;
    font-size: 12px;
    max-width: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    background: white;
    color: black;
    text-align: center;
}

.points {
    font-size: 12px;
    width: 100%;
    background: #37003C;
    color: #FFF;
    line-height: 150%;
    text-align: center;
}

.label {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: -10%;
    background-color: white;
    width: 16px;
    aspect-ratio: 1/1;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    & > * {
        line-height: 1;
        font-size: 12px;
    }
}

.identifier {
    text-transform: capitalize;
}

.headerValue {
    color: #AAAAAA;
}

.modal {
    background-color: #0F0F0F;
    padding: 0 24px 90px 24px;

}

.headerTable {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    gap: 12px;
    padding: 8px;
    border-bottom: 1px solid #212121;
}

.bodyTable {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    gap: 12px;
    padding: 8px;
    border-bottom: 1px solid #212121;
    &:last-child {
        border-bottom: 1px solid transparent;
    }
    &:only-child {
        border-bottom: 1px solid transparent;
    }
}
