.container {
    width: fit-content;
}

.inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #494242;
}

.kit {
    width: 50px;
    aspect-ratio: 1;
    background: #494242;
    border-radius: 50%;
}

.name {
    width: 100%;
    background: white;
    color: black;
    text-align: center;
}

.points {
    width: 100%;
    background: #E0E0E0;
    color: black;
    text-align: center;
}
