.item {
    display: flex;
    flex-direction: column;
    padding: 16px;
}
.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #474747;
    padding-bottom: 8px;
}

.innerWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rankBox {
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    margin-right: 8px;
    align-items: center;
}
.name-box {
    display: flex;
    flex-direction: column;
}

.points {
    display: flex;
    gap: 24px;
}

.event-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-info span {
    display: block;
}

.entry_name {
    cursor: pointer;
    font-size: 17px;
    line-height: 130%;
}

.player_name {
    color: #AAAAAA;
    line-height: 155%;
}

.gw_tot {
    line-height: 170%;
}
