.box {
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    transform: rotate(180deg);
}

.right {}

.top {
    transform: rotate(270deg);
}

.bottom {
    transform: rotate(90deg);
}
