body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--tg-theme-secondary-bg-color, white);
}

.App {
  position: relative;
  padding: 0 14px;
  word-break: break-all;
}

