.wrapper-title {
    text-align: center;
    width: 100%;
    margin-bottom: 32px;
}

.search-box {
    display: flex;
}

.button-hint {
    text-align: center;
    width: 100%;
    margin-top: 24px;
}

.modal {
    padding: 16px;
    word-break: break-word;
}
