.container {
    padding: 16px;
    background: linear-gradient(0deg, #0C8342 0%, #0C8342 100%), rgba(255, 255, 255, 0.95);
    box-shadow: 0px 32px 64px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    gap: 6px;
}
